<ul class="nav justify-content-center" style="background-color: lightgreen;">
  <li class="nav-item">
    <a class="nav-link active" href="http://localhost:3000/posts/new" style="color: white;">自慢する！！</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
