<%= render partial: "header" %>


    <div class="container">
        <div class="jumbotron text-center">
          <h1>Boastへようこそ!!</h1>
          <h6>Boastは日常のちょっとした幸せから人に言えない自慢を匿名で投稿するサイトです</h6>
          <h6>みんなの投稿を確認することと自慢に対していいねをすることもできます</h6>
          <div class="btn">
          <a href="http://localhost:3000/posts/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">自慢する</a>
          <a href="http://localhost:3000/posts/show" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">みんなの自慢</a>
        </div>
        </div>

   </div>

