<%= render partial: "header" %>

<div class="container">
  <%= render partial: 'posts/post', locals: { post_lucky: @post_lucky,post_everyday: @post_everyday,post_love: @post_love,post_other: @post_other } %>

</div>
