.tab {
  overflow: hidden;
  margin: 0 auto;
  width: 49%;
  display: flex;
  position: relative;
  right: 20px;
}
.tab li{
  background:#ccc; padding:5px 25px;margin-right:1px; width: 25%;
}
.tab li.select{
  background: white;
}
.cards {
display: none;
}
 .is-show {
  display: block;
}
